:root {
    --olive-green: #5cb85c;
    --svg-color:   #67FF63;
    --background: #1bbc9b;

    --mobile-small-width: 520px;
  }

  body{
    color:#1B5A56;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    
}
body h1,h2,h3,h4,h5,h6{
    color: #2F9C95;
}

body {
    position: relative; 
  }

.logo{
    width: 56px;
}

.contactUsButton{
    cursor: pointer;
    width: 50px;
    position: fixed;
    top: 40%;
    right: 0px;
    display: block;
    z-index: 6001;
    background-color: rgba(120,188,74,0.75) !important;
    -webkit-border-top-left-radius: 100px !important;
    -webkit-border-bottom-left-radius: 100px !important;
    -moz-border-radius-topleft: 100px !important;
    -moz-border-radius-bottomleft: 100px !important;
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
    -webkit-box-shadow: -2px -1px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 5px -1px rgba(0,0,0,0.75);
    color: #fff;
    height: 100px;
    border: 0px;
}

.contactForm{
    position: fixed;
    top: 25%;
    background-color: white;
    width: 300px;
    z-index: 6001;
    right: -300px;
    padding: 30px;
    box-shadow: 2px 5px 15px #333;
    border-radius: 5px;
}

.custom-navbar {
	border: none;
	margin-bottom: 0;
	padding: 6px 0;
    width: 100%;
    
}

.custom-bg{
    background-image: linear-gradient(150deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 24%, rgb(57, 214, 133) 68%, rgb(57, 214, 133) 87%, rgb(120, 188, 74) 100%);
    background-color: rgba(0, 0, 0, 0);
}

.navbar-bigger{
    height: 70px;
}

.nav-link-increased{
    font-size: 16px !important;
    text-transform: uppercase;
}

.nav-item-padding{
    padding-left: 25px !important;
}

.nav-item-padding a{
    color: #333;
    font-weight: 501;
}

.nav-item-padding a:hover{
    /*text-decoration: underline;*/
    font-weight: 501;
    color: #fff;
    /*padding:2px;*/
    transition: color 0.5s linear;
}

.sticky-wrapper{
    width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1000;
}


.navbar-fixed-top.scrolled {
   /* background-color: #e8fafa !important;*/
    box-shadow: 2px 2px 10px #333;
    transition: opacity 0.5s ease-out;
    /*! transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1); */
    background-image: linear-gradient(150deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 24%, rgb(57, 214, 133) 68%, rgb(57, 214, 133) 87%, rgb(120, 188, 74) 100%);
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
  }

.section-title{

    text-align: center;

}

.section-margin-top{
    margin-top: 6.5rem;
}
/*---------------------------------------
Jumbotron
----------------------------------------*/
.welcomeText{
    color: #fff !important;
    font-size: 4.5rem;
}
.welcomeText-sub{
    font-size: 2.5rem !important;
}

.call-to-action{
    padding: 0.625rem;
    font-size: 25px;
}

.call-to-action a{
    color: #fff;
}

.call-to-action a:hover{
    text-decoration: none;
}

#home {
	background-color: var(--background);
    /*background: url("../img/backgrounds/welcome_section_bg.png") no-repeat top;*/
    /*background: url("../img/backgrounds/office.jpg") no-repeat top;*/
    /*background: url("../img/backgrounds/IMG_20201001_135917.jpg") no-repeat top;*/
    background-position-y: -270px;
	background-position: center center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
	height: 100vh;
	position: relative;
	text-align: left;
    /*background-position-y: -270px;*/
    background: url("../img/backgrounds/IMG_20201001_135917.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}



/*---------------------------------------
About us         
-----------------------------------------*/
.howitwrap {
position: relative;
}
.howitwrap .section-title {
text-align: left;
padding-bottom: 15px;
}
.howitwrap .section-title h3:after {
left: 0;
margin-left: 0
}
.howitwrap .section-title h3:before {
left: 26px;
margin-left: 0
}

.aboutUsBox{
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}



.howlist {
list-style: none;
margin-bottom: 20px;
}
.howlist li {
margin-top: 20px;
}
.howlist li .howbox:after {
display: table;
clear: both;
content: '';
}
.howlist li .iconcircle {
margin-bottom: 15px;
float: left;
margin-right: 30px;
width: 70px;
height: 70px;
border-radius: 5px;
border:1px solid #ddd;
text-align: center;
line-height: 50px;
}
.howlist li .iconcircle i {
font-size: 24px;
color: #db3636;
margin-top: 22px;
display: block;
}
.howlist li h4 {
font-size: 18px;
font-weight: 700;
color: #444;
margin-bottom: 5px;
}
.howlist li p {
font-size: 16px;
line-height: 24px;
color: #555;
}
.fullimg {
width: 100%;
height: 100%;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
float: left;
}

.contentBox{
    position: relative;
}

.aboutUsMarker{

    position: absolute;
    width: 60px;
    height: 100px;
    top: -33px;
    left: -10px;
    z-index: 0;
    border-radius: 0 0 15px 15px;
    /*background-color: #03A9F4;*/
    background-color: #78BC4A;

}

.markerBg2{
    /*background-color: #FF5722;*/
    background-color: #78BC4A;

}

.markerBg3{
    background-color: #78BC4A;
}



.aboutUsMarkerText{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    border: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    background: #ffffff;
    border-color: #7d60f9;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 20px !important;
    transition: .3s ease;
}

.aboutUsText{
    padding-left: 3.5rem;
}

/*---------------------------------------
Service section              
-----------------------------------------*/

.realization-button{
    background-color: transparent;
    color: #375a56;
    border-radius: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 2px solid #78bc4a;
}


.realization-button:hover{
    background-color: #78bc4a;
    border-left: 2px solid #78bc4a;
        
}

.realization-button:active{
    background-color: #78bc4a;
    border-left: 2px solid #78bc4a;
        
}

.realization-button:focus{
    background-color: #78bc4a;
    border-left: 2px solid #78bc4a;
        
}

.realization-padding{
    padding-bottom: 15px;
}

.custom-caption{
    background-color: rgba(0,0,0,0.4);
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.custom-caption h3{
    color: #fff;
}

.shadow-box{
    box-shadow: 2px 2px 5px;
}

.service-box{
    height: 300px !important;
}

.servicesBox{

    position: relative;
    z-index: 1;
    padding: 50px 15px 30px;
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid var(--olive-green);
    border-radius: 15px;
    text-align: center;
}

.servicesBox h6{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;

}

.servicesIcon{
    margin-bottom: 20px;
min-height: 56px;
position: relative;
display: inline-block;
}

.servicesIcon i{
    font-size: 2.5rem;
}

.servicesIcon i::after{
    content: '';
position: absolute;
width: 70px;
height: 70px;
right: -15px;
top: -15px;
z-index: -1;
background: #d2f6f5;
opacity: .5;
border-radius: 50%;
transition: .4s ease-in-out;
}

#realization .service-thumb, #service .service-thumb {
margin-bottom: 30px;
margin-top: 20px;
}
#realization .service-thumb h4 {
color: #2f9c95;
font-size:20px;
}
#service .thumb-icon {
border:1px solid #2f9c95;
width: 70px;
height: 70px;
border-radius:5px;
text-align: center;
margin: 0 auto;
margin-bottom: 20px;
transition: ease-in-out 0.3s;
-webkit-transition: ease-in-out 0.3s;
-moz-transition: ease-in-out 0.3s;
-ms-transition: ease-in-out 0.3s;
color: #db3636;
}
#service .thumb-icon{}
.thumb-img {
overflow:hidden;
}

#service .fa {
font-size: 24px;
margin-top: 22px;	
}

#service .service-thumb:hover .thumb-icon, .service-thumb:hover img {
-ms-transform: scale(1.2) rotate(5deg);
-moz-transform: scale(1.2) rotate(5deg);
-webkit-transform: scale(1.2) rotate(5deg);
-o-transform: scale(1.2) rotate(5deg);
transform: scale(1.2) rotate(5deg);
background:#db3636;
color:#fff;
}



#realization .btn{background:#444; color:#fff; padding:7px 20px; margin-top:15px;}
#realization .btn:hover{background:#db3636;}


/***/


/*----------------------------------------
Partners
-----------------------------------------*/
.cardBg{
    background-color: #e8fafa;
    box-shadow: 2px 2px 5px #333;
    height:385px;
}

.cardBg-blue{
    background-color: #55dbef;
    box-shadow: 2px 2px 5px #333;
}

.cardBg:hover{
    box-shadow: 2px 2px 15px #333;
    transition: box-shadow 300ms linear;
}

.partners-img-align{
    padding-top: 10%;
    margin-left: 30px;

}

.partner-name{
    font-weight: 800;
    letter-spacing: 1px;
}

.card-text{
    text-align: justify;
text-justify: none
}

.navigation-card{
    color: #345a56 !important;
    text-decoration: none !important;
}

.navigation-card a:hover{
    text-decoration: none !important;
}


/*---------------------------------------
Contact section              
-----------------------------------------*/
#contact {
position: relative;
}
.contact-form {
z-index: 10;
position: relative;
}
.contact-form h4 {
text-align: left;
color: #333;
font-size: 36px;
margin: 0 0 30px 0;
text-align: center;
text-transform: uppercase;
font-weight: 700;
}
.contact-form h4 span {
color: #db3636;
font-weight: 400;
}
.contact-form .form-control {
border-color: transparent;
border-radius: 4px;
box-shadow: none;
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
-webkit-transition: all ease-in-out 0.4s;
transition: all ease-in-out 0.4s;
}
.contact-form input {
border: 2px solid #f0f0f0 !important;
height: 55px;
}
.contact-form input:focus, .contact-form textarea:focus {
border-color: #db3636 !important;
}
.contact-form textarea {
background: #fff;
border: 2px solid #f0f0f0 !important;
}
.contact-form button#submit {
background-color: #db3636;
border: none;
border-radius: 4px;
color: #ffffff;
padding: 10px 30px;
height: auto;
width: 100%;
text-transform: uppercase;
}
.contact-form button#submit:hover {
background: #555;
color: #ffffff;
}

.contact {	
margin-bottom: 30px;
border-bottom:1px solid #ddd;
padding-bottom:30px;	
text-align:left;
}
.contact > span {
    color: #1b5a56;
    float: left;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid #9cd49c;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
}
.inner-page .fa-home:before {
content: "\f015";
}
.information {
margin-top: 5px;
padding-left:80px;
}
.information > strong {
color: #000;
display: table;
font-size: 16px;
font-weight: 700;
margin-bottom: 5px;
text-transform: uppercase;
}
.information > p {
line-height: 22px;
margin: 0;
}

#map {
width: 100%;
height: 300px;
border: none;
display: block;
pointer-events: none;
}
.frmap {
margin-top: 10px;
}

/* footer */

#footer {
    background: #1b5a56 !important;
    padding-top:4.5rem;
}


#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/* ANIMATIONS */


/*Animation to change scale - Items will popup from "behind"*/
.scaleanim{
    visibility: hidden;
}

.scale-animation{
    animation: scale 1s ;
    animation-timing-function: ease-in;
    visibility: visible;
}

@keyframes scale{
    from{scale: 0.0}
    to{scale:1.0}
}

.pulse-animation{
    animation: pulse 1s infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes pulse{
    from {box-shadow: -5px 0px 5px #f8f9fa;}
    to {box-shadow: -6px 0px 10px #3dd481}
}


/* Slide animation, items will slide from the top*/
.slideanim-Y-Inv{
    visibility: hidden;
}

.slide-Y-Inv{
    animation-name: slide-Y-Inv;
    -webkit-animation-name: slide-Y-Inv;
    animation-duration: 1.5s;
    /* The duration of the animation */
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    /* Make the element visible */
    visibility: visible;
}

@keyframes slide-Y-Inv{
    0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
}

@-webkit-keyframes slide-Y-Inv{
    0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
}


/* Slide animation, items will slide from the left*/
.slideanim-X {visibility:hidden;}
.slide-X {
  /* The name of the animation */
  animation-name: slide-X;
  -webkit-animation-name: slide-X;
  /* The duration of the animation */
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  /* Make the element visible */
  visibility: visible;
}
@keyframes slide-X {
  0% {
    opacity: 0;
    transform: translateX(70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-X {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

/* Slide animation, items will slide from the right*/
.slideanim-X-Inv {visibility:hidden;}
.slide-X-Inv {
  /* The name of the animation */
  animation-name: slide-X-Inv;
  -webkit-animation-name: slide-X-Inv;
  /* The duration of the animation */
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  /* Make the element visible */
  visibility: visible;
}
@keyframes slide-X-Inv {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-X-Inv {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}


/* Media queries for small screens*/
@media screen and (max-width: 570px) {
    .navbar-nav {
        background-color: #fff;
        }
      .carousel-inner img{
        width: 100%;
       /* height: auto;*/
        }
      .aboutUs img{
            width: 100%;
            height: auto;
        }
      .partners-img-align{
          padding-top: 10%;
          margin: auto;
        }
      .team-picture{
        width: 100%;
        height: auto;
        }
      .navbar-bigger{
          height: unset;
       }
       .rect-image{
           height: 258px !important;
       }
       .service-box{
        height: unset;
        }
  }

  /* Media queries for medium resolution screens */

  @media screen and (max-width: 1024px){
      .navbar-bigger{
          height: unset;
      }
      .carousel-inner img{
        width: 100%;
        /*height: auto;*/
        }
      .aboutUs img{
            width: 100%;
            height: auto;
        }
      .partners-img-align{
          padding-top: 10%;
          margin: auto;
        }
      .team-picture{
        width: 100%;
        height: auto;
        }
        
  }